.modal-next-previous a {
    color: white;
    font-size: 48px;
    margin: 0 auto;
}

.modal-next-previous .arrow-container {
    background-color: gray;
    height: 48px;
    width: 48px;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    line-height: 46px;
}
.modal-next-previous .next a {
    margin-left: 14px;
}

.modal-next-previous .previous a {
    margin-right: 14px;
}

.modal-next-previous {
    width: 100%;
}

.modal-next-previous .next {
    float: right;
}

.modal-next-previous .previous {
    float: left;
}